{% extends 'base.html.twig' %}

{% block title %}mon-compte-hypnos{% endblock %}

{% block content %}
<h1>Mon espace personnel</h1>
    Bienvenue {{app.user.firstname}} dans votre espace ici vous pouvez gérer toute vos information personnel

{% endblock %}
